<h1 class="mt-2">Criar Categoria</h1>
<div class="card mt-3">
        <form action="/admin/categorias/novo" method="post">
        <label for="titulo" class="form-label">titulo: </label>
        <input type="text" name="titulo" class="form-control">
        <label for="slug">Slug: </label>
        <input type="text" name="slug" class="form-control">
        <input type="submit" value="Criar Categoria" class="btn btn-success mt-3">
        </form>
</div>