<h1 class="mt-2">Editar Categoria</h1>
<div class="card mt-3">
        <form action="/admin/categorias/edit/{{_id}}" method="post">
        <input type="hidden" name="id" value="{{categoria._id}}">
        <label for="titulo" class="form-label">titulo: </label>
        <input type="text" name="titulo" class="form-control" value="{{categoria.titulo}}">
        <label for="slug">Slug: </label>
        <input type="text" name="slug" class="form-control" value="{{categoria.slug}}">
        <input type="submit" value="Editar Categoria" class="btn btn-success mt-3">
        </form>
</div>