<div class="card mt-4">
    <div class="card-body">
        <h1>{{titulo}}</h1>
        <h5>{{descricao}}</h5>
        <p style="text-align: justify; " class="mt-3">{{conteudo}}</p>
    </div>
</div>
